# Contentful CMS
CONTENTFUL_SPACE_ID=
CONTENTFUL_MANAGEMENT_ACCESS_TOKEN=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_MARKETING_CONTENT_TYPE=qentrahFooterBlock
CONTENTFUL_USE_PREVIEW=true
CONTENTFUL_REVALIDATE_SECONDS=1
CONTENTFUL_REVALIDATE_SECRET=

# Public URLs
NEXT_PUBLIC_WORKSPACE_URL=
NEXT_PUBLIC_PARTNERS_URL=
